section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
label {
  color: #fff;
  margin-right: 1rem;
}
form {
  max-width: 700px;
}

.form-element {
  display: flex;
}

input,
select {
  margin-left: auto;
  width: 200px;
}
